 ---------- (THIS IS TEST, HELLO I AM HOUSE-TILE) ----------
<ul>
    <li> <b>{{model.name}}</b><br>Phone: {{committee.phone}}</li>

</ul>
 ---------- (THIS IS TEST, HELLO I AM HOUSE-TILE) ----------
