<div class="container">
  <h3><u>Current Committees of House</u></h3>

  <div class="row">
    <div class="col s12">

      <ul>
        {{#each model as |committee|}}
        {{log committee}}
          <li> <b>{{#link-to 'houseSub' committee.committee_id}} {{committee.name}} {{/link-to}}</b><br>
            &nbsp;&nbsp;&nbsp; Phone: {{committee.phone}}<br></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
