<div class="container">
  <h1>Welcome to Englighten Citizenry</h1>

  <p>Here you'll find all of your legislative needs and information. Happy searching!</p>

  <div class="row">
    <div class="col s8">
      <i><p>And we should close Guantanamo Bay and stop tolerating the torture of our enemies. We can do that.</p>

      <p>The document they produced was eventually signed but ultimately unfinished. I don't know what kind of lives John McCain thinks that celebrities lead, but this has been mine. I am grateful for your hospitality, and the hospitality of the people of Egypt. The attacks of September 11th, 2001 and the continued efforts of these extremists to engage in violence against civilians has led some in my country to view Islam as inevitably hostile not only to America and Western countries, but also to human rights.</p>

      <p>A common dream, born of two continents. We cannot ignore that we have a right and a duty to protect our borders. Board of Education, and the inferior education they provided, then and now, helps explain the pervasive achievement gap between today's black and white students. You have shown what history teaches us - that at defining moments like this one, the change we need doesn't come from Washington.</p>

      <p>America! Tonight, if you feel the same energy that I do, if you feel the same urgency that I do, if you feel the same passion I do, if you feel the same hopefulness that I do - if we do what we must do, then I have no doubts that all across the country, from Florida to Oregon, from Washington to Maine, the people will rise up in November, and John Kerry will be sworn in as president, and John Edwards will be sworn in as vice president, and this country will reclaim its promise, and out of this long political darkness a brighter day will come. Because for two hundred and thirty two years, at each moment when that promise was in jeopardy, ordinary men and women - students and soldiers, farmers and teachers, nurses and janitors - found the courage to keep it alive. As President, I will tap our natural gas reserves, invest in clean coal technology, and find ways to safely harness nuclear power. But all of us must recognize that education and innovation will be the currency of the 21st century, and in too many Muslim communities there remains underinvestment in these areas. Those are mutual interests. We have the power to make the world we seek, but only if we have the courage to make a new beginning, keeping in mind what has been written.</p>

      <p>To the Joshua generation, these challenges seem momentous - and they are. We may not agree on abortion, but surely we can agree on reducing the number of unwanted pregnancies in this country. Moreover, the sweeping change brought by modernity and globalization led many Muslims to view the West as hostile to the traditions of Islam. We were born out of revolution against an empire. The Holy Koran teaches that whoever kills an innocent, it is as if he has killed all mankind; and whoever saves a person, it is as if he has saved all mankind. But we can only achieve it together.</p></i>

      <p>-ObamaIpsum</p>
    </div>
    <div class="col s4">
      <img src="http://www.barnorama.com/wp-content/images/2012/03/Oh,%20'Merica/01-Oh,%20'Merica.jpg">
    </div>
  </div>


</div>
