<div class="container">

  <h5>Your results</h5>
  <ul>
    {{#each model as |legislator|}}
      <li> <b>{{legislator.first_name}} {{legislator.last_name}}</b><br>Contact: <a href=  {{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
    {{/each}}
  </ul>

  {{#link-to 'legislator'}} Return to Legislator Lookup {{/link-to}}
</div>
